# lambda zips
**.zip

# terraform files
*.tfstate
*.tfstate.*
**/.terraform*
**/*.tfvars
**/*.tfvars.local
*.tfvars.json
**/.terraform.lock.hcl
*.conf

# environment variables
.env

# localstack runtime state
/volume/

# binary
bin/